# Dependency directories
/node_modules
/dist

# Environment variables file
.env.local

# IDE files
.vscode/
.idea/

# TypeScript build output
*.js
*.js.map

# Sequelize migration directory
/migrations/*.js
/migrations/*.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Windows
Thumbs.db

.env.local
